<form class="card" [esfsFormGroup]="form">
  <esfs-field name="text"></esfs-field>
  <esfs-field name="checkbox"></esfs-field>
  <esfs-field name="checkbox2"></esfs-field>
  <esfs-field name="dropdown"></esfs-field>
  <esfs-field name="number"></esfs-field>
  <esfs-field name="address"></esfs-field>
  <esfs-field name="date"></esfs-field>
  <esfs-field name="phone"></esfs-field>
  <esfs-field name="radio"></esfs-field>

  <button (click)="handleButtonClick()">Change config</button>
</form>

<div class="card">
  <code><pre>{{ form.value | json }}</pre></code>
</div>
