@import "./functions";
@import "./variables";

@mixin backgroundColor($color) {
  background-color: getColor($color);
  color: getTextColorFor($color);
}

@mixin dropShadow($color: #000) {
  filter: drop-shadow(0 0 16px rgba($color, 0.25));
}

@mixin panel() {
  background-color: $color-background-l1;
  box-shadow: boxShadow();
  border-radius: $border-radius;
  padding: $spacing-medium;
  border: 1px solid rgba(255,255,255,.04);

  @media print {
    background: transparent;
    box-shadow: none;
    border-radius: 0;
  }
}
