@import '../../styles/variables';

.cadrart-field {
  &__input {
    position: relative;

    fieldset[disabled] &, &--disabled {
      .cadrart-field__input__icon,
      .cadrart-field__input__text-after {
        opacity: 0.5;
      }
    }

    &--no-label input::placeholder {
      opacity: 0.5 !important;
    }

    label {
      display: block;
      position: absolute;
      left: 0;
      top: $spacing-small + 1px;
      z-index: 1;
      line-height: 1;
      transition: font-size, top, left, color, opacity;
      transition-duration: $transition-duration;
      pointer-events: none;
      opacity: 0.5;
    }

    input,
    select {
      display: block;
      border: 2px solid $color-grey;
      border-width: 0 0 2px 0;
      padding: $spacing-small 0;
      outline: none;
      background-color: transparent;
      transition: border-color $transition-duration;
      width: 100%;
      min-width: 40px;
      appearance: none;
      -moz-appearance: textfield;

      .cadrart-field-wrapper--has-error & {
        border-bottom-color: rgba($color-red, .75);
      }

      &:-internal-autofill-selected {
        -webkit-box-shadow: 0 0 0 30px $color-background-l1 inset !important;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &:focus {
        border-color: $color-yellow;
      }

      &::placeholder {
        transition: opacity $transition-duration;
        opacity: 0;
      }

      &:focus {
        &::placeholder {
          opacity: 0.5;
        }
      }
    }

    select {
      -moz-appearance: none;
    }

    select:invalid {
      color: transparent;
    }

    label + input::placeholder {
      opacity: 0;
    }

    &:has(input:focus),
    &:has(select:focus) {
      label {
        top: -12px;
        left: 0;
        font-size: 12px;
        color: $color-yellow;
        opacity: 1;
      }
    }

    &:not(:has(input:placeholder-shown)):not(:has(select.cadrart-field-select__has-no-value)):not(
        :has(input.has-no-value)
      ),
    :has(input:-webkit-autofill) {
      label {
        top: -12px;
        left: 0;
        font-size: 12px;
      }
    }

    &__icon,
    &__text-after {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      padding: 0 $spacing-small;
      pointer-events: none;
    }

    &__icon--before {
      ~ input {
        padding-left: $spacing-small + 24px;
      }

      ~ label {
        left: $spacing-small + 24px;
      }
    }

    &__icon--after,
    &__text-after {
      right: 0;
      left: auto;

      ~ input {
        padding-right: $spacing-small + 24px;
      }

      ~ label {
        right: $spacing-small + 24px;
      }
    }
  }
}
