<cadrart-field-layout
  [label]="label"
  [iconBefore]="config.iconBefore"
  [iconAfter]="config.iconAfter"
  [textAfter]="config.textAfter"
  [disabled]="config.disabled"
>
  <input
    autocomplete="off"
    type="number"
    [formControl]="control"
    [name]="name"
    [placeholder]="placeholder || '' | translate"
    [readonly]="config.readonly"
    [autofocus]="config.autofocus"
    [tabindex]="config.tabIndex"
    [min]="config.min ?? null"
    [max]="config.max ?? null"
    (input)="handleInput($event)"
    (focus)="handleFocus($event)"
    (blur)="handleBlur()"
  />
</cadrart-field-layout>
