.cadrart-field-orientation {
  &__input {
    input {
      display: none;
    }

    input:checked ~ .cadrart-field-orientation__input__portrait {
      display: none;
    }

    input:checked ~ .cadrart-field-orientation__input__landscape {
      display: block;
    }

    input:not(:checked) ~ .cadrart-field-orientation__input__portrait {
      display: block;
    }

    input:not(:checked) ~ .cadrart-field-orientation__input__landscape {
      display: none;
    }
  }
}
