@import '../../styles/variables';

.cadrart-field-address {
  label {
    top: -12px;
    left: 0;
    font-size: 12px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;

    input::placeholder {
      opacity: 0.5 !important;
    }
  }

  & &__input {
    flex-basis: 50%;
    margin-bottom: $spacing-large;

    &--street {
      flex-grow: 1;
      margin-right: 10px;
    }

    &--number {
      flex-basis: 75px;
      min-width: 20%;
    }

    &--city {
      flex-grow: 1;
      margin-right: 10px;
    }

    &--zip {
      flex-basis: 75px;
      min-width: 20%;
    }

    &--country {
      flex-basis: 100%;
      margin-bottom: 0;
    }
  }
}
