.cadrart-field-date__wrapper {
  input.has-no-value {
    color: transparent;
    transition: color 0.3s;

    &::-webkit-datetime-edit {
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:focus {
      color: inherit;
      transition: color 0.3s;

      &::-webkit-datetime-edit {
        opacity: 1;
      }
    }
  }
}
